:root {
    --bg-color: #162033;
    --text-color: white;

    --header-height: 60px;
    --header-gap: 10px;
}

body {
    margin: 0;
    padding: 0;

    color: var(--text-color);
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;

    background-color: var(--bg-color);
}

body .container {
    margin-top: calc(var(--header-height) + var(--header-gap));

    margin-left: 20px;
    margin-right: 20px;
}

header {
    position: fixed;

    width: 100%;
    height: var(--header-height);

    transform: translate(0, calc(-1 * var(--header-height) - var(--header-gap)));
}

header > * {
    filter: drop-shadow(0 0 0.75rem black);
}

header .bg {
    width: 100%;
    height: 100%;
}

header .logo {
    margin: 0;
    padding: 0;

    width: 50px;
    height: 50px;

    transform: translate(20px, -100%);
}
